@page "/counter"
@inherits Base.PageBase

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current count: <strong>@count</strong></p>
<button @onclick="CountUp" class="btn btn-outline-success">CounteUp</button>
<button @onclick="CountClear" class="btn btn-outline-success">Clear</button>

@code {
    private int count;

    /// <summary>
    /// 初期処理
    /// </summary>
    /// <param name="firstRender">初回表示か否か</param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // 未ログインの場合は即時終了
            if (!await LoginCheck()) return;

            var result = await GetAsync<int>("Cont");
            count = result;
            StateHasChanged();
        }
    }

    /// <summary>
    /// カウントアップ
    /// </summary>
    private async Task CountUp()
    {
        count++;
        await SetAsync("Cont", count);
    }

    /// <summary>
    /// カウントクリア
    /// </summary>
    /// <returns></returns>
    private async Task CountClear()
    {
        count = 0;
        await DeleteAsync("Count");
    }
}
