@page "/error"
@namespace WebApp.Components.Pages
@layout EmptyLayout
@using System.Diagnostics
@using WebApp.Components.Layout
@inherits Base.PageBase
    
<PageTitle>エラーが発生しました</PageTitle>

<h1 class="text-danger">エラーが発生しました。</h1>
<h2 class="text-danger">本画面を報告ください。</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

<p>ユーザー情報</p>
<table class="table table-bordered" style="width:30%">
    <thead>
        <tr>
            <th>ID</th>
            <th>ユーザー名</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@userId</td>
            <td>@userName</td>
        </tr>
    </tbody>
</table>

@code {
    private string? userId { set; get; } = "";
    private string? userName { set; get; } = "";

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            RequestId = Activity.Current?.Id;
            var userModel = await GetUserAsync();
            if (userModel is not null)
            {
                userId = userModel.ID;
                userName = userModel.Fullname;
            }
            StateHasChanged();
        }
    }
}
