@page "/"
@inherits Base.PageBase
@using ClosedXML.Excel
@using PdfReport
@using PdfReport.Interfaces
@using PdfReport.DataLists
@using System.IO.Compression
@using WebApp.Components.Parts
@using WebApp.Models.Parts
@using WebApp.Components.Pages.Utility
@inject IJSRuntime JS
@inject ILogger<Home> Logger

@if (IsBeforeLoginCheck)
{
    // ログイン確認前は表示なし
    return;
}

<PageTitle>@Title</PageTitle>

<h1>@Title</h1>

Welcome to your new app.

<div class="page-header">
    <PDFViewer ButtonName="封筒印刷PDF表示" GetDataFunction="DownLoadPDF" IsPortrait="true" />
    <FileDownload ButtonName="封筒印刷PDFダウンロード" GetDataFunction="DownLoadPDF" IsBinary="true"/>
    <FileDownload ButtonName="封筒印刷ZIPダウンロード" GetDataFunction="DownLoadZip" IsBinary="true"/>
    <span id="excel" style="display:none;">
        <FileDownload ButtonName="Excelダウンロード" GetDataFunction="OutputExcel" IsBinary="true"/>
    </span>
    <FileDownload ButtonName="Excelダウンロード(単票)" GetDataFunction="OutputExcelReport" IsBinary="true"/>

    <button class="btn btn-info" @onclick="downloadExcel">Excelダウンロード(JS経由)</button>

    <FileDownload ButtonName="Wordダウンロード" GetDataFunction="OutputWord" IsBinary="true"/>
</div>

<div>
    <button class="btn btn-primary" @onclick="ShowAlertTest">アラートメッセージ表示</button>
</div>
<div>
    <button class="btn btn-primary" @onclick="ShowConfirmTest">確認メッセージ表示</button>
</div>
<div>
    <button class="btn btn-primary" @onclick="ShowConfirmShortTest">確認メッセージ表示(最小)</button>
</div>
<div>
    <button class="btn btn-primary" @onclick="ShowConfirmTextChangedTest">確認メッセージ表示(ボタンテキスト変更)</button>
</div>


<div class="card" style="margin-top:3rem;width:35rem;">
    <div class="card-body">
        <div class="card-title">漢字→カタカナ変換サンプル</div>

        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="kanji">漢字</label>
                <InputText class="col-md-9" id="kanji" @bind-Value="Kanji" @onblur="@(() => OnBlur("kanji", "furigana"))" />
            </div>
        </div>
        <div class="row">
            <div class="col col-md-2 offset-md-3">
            ↓
            </div>
        </div>
        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="furigana">カタカナ</label>
                <InputText class="col-md-9" id="furigana" @bind-Value="Katakana" />
                <button class="col-3 offset-md-8 btn btn-primary btn-sm" @onclick="CheckKatakana">カタカナの値確認</button>

                <div class="container" style="margin-top:1rem">
                    <button class="col-3 offset-md-8 btn btn-primary btn-sm" @onclick="ClearKatakana">クリア</button>
                </div>

            </div>
        </div>
    </div>
</div>

@* 郵便番号データ検索サンプル *@
<div class="card" style="margin-top:3rem;width:35rem;">
    <div class="card-body">
        <div class="card-title">郵便番号・住所検索</div>

        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="postCd">郵便番号</label>
                <InputText class="col-md-9" id="postCd" @bind-Value="postCd"/>
                <div class="container" style="margin-top:1rem">
                    <button class="col-3 offset-md-8 btn btn-primary btn-sm" @onclick="SearchPost">郵便番号で住所設定</button>
                </div>
            </div>
        </div>
        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="addressKanji">住所漢字</label>
                <InputText class="col-md-9" id="addressKanji" @bind-Value="addressKanji" />
                <div class="container" style="margin-top:1rem">
                    <button class="col-3 offset-md-8 btn btn-primary btn-sm" @onclick="SearchAddress">住所で郵便番号設定</button>
                    <button class="col-3 offset-md-8 btn btn-primary btn-sm" @onclick="ConversionConvertKanjiToKana">住所漢字をカナに変換して設定</button>
                </div>
            </div>
        </div>
        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="addressKana">住所カナ</label>
                <InputText class="col-md-9" id="addressKana" @bind-Value="addressKana" />
            </div>
        </div>
    </div>
</div>

@* ひらがな・カタカナ変換サンプル *@
<div class="card" style="margin-top:3rem;width:35rem;">
    <div class="card-body">
        <div class="card-title">ひらがな・カタカナ変換サンプル</div>

        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="HiraganaText">ひらがな</label>
                <InputText class="col-md-9" id="HiraganaText" @bind-Value="HiraganaText"/>
            </div>
        </div>
        <div class="row">
            <button class="col-3 offset-md-2 btn btn-primary btn-sm" @onclick="HiraganaToKatakana">↓変換</button>
            <button class="col-3 offset-md-2 btn btn-primary btn-sm" @onclick="KatakanaToHiragana">↑変換</button>
        </div>
        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="furigana">カタカナ</label>
                <InputText class="col-md-9" id="furigana" @bind-Value="KatakanaText" />
            </div>
        </div>
    </div>
</div>

@* 全角数字・半角英数字変換機能サンプル *@
<div class="card" style="margin-top:3rem;width:35rem;">
    <div class="card-body">
        <div class="card-title">全角数字・半角英数字変換機能サンプル</div>

        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="FullWidthNumberText">全角数字<br>ハイフン</label>
                <InputText class="col-md-9" id="FullWidthNumberText" @bind-Value="FullWidthNumberText"/>
            </div>
        </div>
        <div class="row">
            <button class="col-3 offset-md-2 btn btn-primary btn-sm" @onclick="OnToHalfWidthNumber">↓変換</button>
            <button class="col-3 offset-md-2 btn btn-primary btn-sm" @onclick="OnToFullWidthNumber">↑変換</button>
        </div>
        <div class="row row-margin">
            <div class="col">
                <label class="col-md-2" for="HalfWidthNumberText">半角数字<br>ハイフン</label>
                <InputText class="col-md-9" id="HalfWidthNumberText" @bind-Value="HalfWidthNumberText" />
            </div>
        </div>
    </div>
</div>

<div>
    <button class="btn btn-primary" @onclick="ShowDialogTest">ダイアログ表示</button>
</div>
<dialog id="saveDialog" style="width:80vw;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">注文編集</h1>
        <button type="button" class="btn-close" aria-label="Close" @onclick="CloseDialogTest"></button>
      </div>
      <div class="modal-body">
        <EditForm method="post" Model="OrderEditModel" OnValidSubmit="Save" id="edit">
            <div class="row row-margin">
                <div class="col">
                    <label class="col-md-2" for="ProductName">商品名</label>
                    <InputText class="col-md-6" id="ProductName" @bind-Value="OrderEditModel!.ProductName" />
                </div>
            </div>
            <div class="row row-margin">
                <div class="col">
                    <label class="col-md-2" for="UnitPrice">単価</label>
                    <InputNumber class="col-md-6" id="UnitPrice" @bind-Value="OrderEditModel!.UnitPrice" TValue="decimal" />
                </div>
            </div>
            <div class="row row-margin">
                <div class="col">
                    <label class="col-md-2" for="Qty">数量</label>
                    <InputNumber class="col-md-6" id="Qty" @bind-Value="OrderEditModel!.Qty" TValue="decimal" />
                </div>
            </div>
        </EditForm>
      </div>
      <div class="modal-footer">
        <button type="submit" form="edit" class="btn btn-outline-success">保存</button>
      </div>
    </div>
</dialog>

@code {
    #region ダイアログ表示サンプル：登録系
    [SupplyParameterFromForm]
    private WebApp.Models.OrderModel OrderEditModel { get; set; } = new(0, string.Empty, 0, 0, 0);

    private async Task ShowDialogTest()
    {
        await ShowDialog("saveDialog");
    }

    private async Task CloseDialogTest()
    {
        await CloseDialog("saveDialog");
    }

    /// <summary>
    /// 保存
    /// </summary>
    /// <param name="editContext"></param>
    private async Task Save(EditContext editContext)
    {
        await ShowAlert("TODO 登録処理実装", CloseDialogTest);
        //await CloseDialogTest();
    }
    #endregion

    #region 全角数字・半角英数字変換機能サンプル

    /// <summary>
    /// 全角数字テキスト用文字列
    /// </summary>
    /// <remarks>サンプル文字列を設定</remarks>
    private string? FullWidthNumberText = "全角数字１２３－４５６０９";

    /// <summary>
    /// 半角数字テキスト用文字列
    /// </summary>
    private string? HalfWidthNumberText;

    /// <summary>
    /// 全角数字を半角化ボタン クリックイベント
    /// </summary>
    private async Task OnToHalfWidthNumber()
    {
        // 未入力は処理なし
        if (string.IsNullOrEmpty(FullWidthNumberText)) return;

        // 変換が分かるように一時的にクリア・ウェイト
        HalfWidthNumberText = null;
        StateHasChanged();
        await Task.Delay(500);

        HalfWidthNumberText = ToHalfWidthNumber(FullWidthNumberText);
    }

    /// <summary>
    /// 半角数字を半角化ボタン クリックイベント
    /// </summary>
    private async Task OnToFullWidthNumber()
    {
        // 未入力は処理なし
        if (string.IsNullOrEmpty(HalfWidthNumberText)) return;

        // 変換が分かるように一時的にクリア・ウェイト
        FullWidthNumberText = null;
        StateHasChanged();
        await Task.Delay(500);

        FullWidthNumberText = ToFullWidthNumber(HalfWidthNumberText);
    }
    #endregion

    /// <summary>
    /// 漢字テキスト用文字列
    /// </summary>
    private string? Kanji;

    /// <summary>
    /// カタカナテキスト用文字列
    /// </summary>
    private string? Katakana;

    /// <summary>
    /// 漢字テキストのフォーカスロストイベント
    /// </summary>
    /// <param name="kanjiId">漢字テキストのID</param>
    /// <param name="furiganaId">フリガナテキストのID</param>
    private async Task OnBlur(string kanjiId, string furiganaId)
    {
        // フリガナが入力されている場合は漢字フリガナ変換は未実施
        if (!string.IsNullOrEmpty(Katakana)) return;

        // 漢字フリガナ変換の実施
        await KanjiToFurigana(kanjiId, furiganaId);
    }

    /// <summary>
    /// カタカナテキストの値確認
    /// </summary>
    private async Task CheckKatakana()
    {
        await ShowAlert($"サーバー側のカタカナの値：{Katakana}");
    }

    /// <summary>
    /// カタカナテキストのクリア
    /// </summary>
    private void ClearKatakana()
    {
        Katakana = string.Empty;
    }

    #region ひらがな・カタカナ変換サンプル
    /// <summary>
    /// ひらがな・カタカナ変換サンプル：ひらがな
    /// </summary>
    private string? HiraganaText;

    /// <summary>
    /// ひらがな・カタカナ変換サンプル：カタカナ
    /// </summary>
    private string? KatakanaText;

    /// <summary>
    /// ひらがな・カタカナ変換サンプル：ひらがな→カタカナ変換
    /// </summary>
    private async Task HiraganaToKatakana()
    {
        if (HiraganaText is null) return;

        KatakanaText = null;
        StateHasChanged();

        await Task.Delay(500);

        KatakanaText = HiraganaToKatakana(HiraganaText);
    }

    /// <summary>
    /// ひらがな・カタカナ変換サンプル：カタカナ→ひらがな変換
    /// </summary>
    private async Task KatakanaToHiragana()
    {
        if (KatakanaText is null) return;

        HiraganaText = null;
        StateHasChanged();

        await Task.Delay(500);

        HiraganaText = KatakanaToHiragana(KatakanaText);
    }
    #endregion

    private async Task ShowAlertTest()
    {
        await ShowAlert("アラートメッセージ");
    }

    private async Task ShowConfirmTest()
    {
        await ShowConfirm("確認メッセージ", ShowConfirmYes);
    }
    private async Task ShowConfirmYes()
    {
        await ShowAlert("「はい」が押されました。");
    }
    private async Task ShowConfirmShortTest()
    {
        await ShowConfirm("a", ShowConfirmYes);
    }
    private async Task ShowConfirmTextChangedTest()
    {
        await ShowConfirm("確認メッセージ", ShowConfirmYes, "変更後「はい」", "変更後「キャンセル」");
    }

    #region Excel出力

    /// <summary>
    /// JavaScript経由でダウンロードボタンをクリックするサンプルボタン
    /// </summary>
    private async Task downloadExcel()
    {
        await JsClick("#excel button");
    }

    /// <summary>
    /// Excel出力
    /// </summary>
    /// <returns>ダウンロード用モデル</returns>
    /// <remarks>Dataにはbyte[]配列を設定</remarks>
    private async Task<DownLoadModel> OutputExcel()
    {
        try
        {
            Logger.LogInformation(await GetLogMessage("開始"));

            using (var excelClass = new ExcelClass("assets/excel_temlate/sample.xlsx"))
            {
                // sheet取得、値設定
                var worksheet = excelClass.GetWorksheet("Sheet1");
                SetWorksheetValues(worksheet, 10);

                //　DownLoadModelを返す
                var prefixExcelFileName = "test";
                var dateString = DateTime.UtcNow.ToJstTime().ToString("yyyyMMdd");
                var excelFileName = $"{prefixExcelFileName}_{dateString}.xlsx";
                return CreateExcel(excelFileName, excelClass.GetWorkbook());
            }
        }
        catch (LockRecursionException)
        {
            return new DownLoadModel(string.Empty, null, $"Excel作成中です。{Environment.NewLine}時間をおいて実施してください。");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, await GetLogError(ex));
            return new DownLoadModel(string.Empty, null, "Excel作成に失敗しました。");
        }
        finally
        {
            Logger.LogInformation(await GetLogMessage("終了"));
        }
    }

    /// <summary>
    /// Excelワークシート設定
    /// </summary>
    /// <param name="worksheet">WorkSheetオブジェクト</param>
    /// <param name="count">データカウント</param>
    private void SetWorksheetValues(IXLWorksheet worksheet, int count)
    {
        //TODO イメージ追加例 https://github.com/closedxml/closedxml/wiki/How-can-I-insert-an-image
        for (var i = 0; i < count; i++)
        {
            var targetIndex = i + 1;
            var data = new object[]{
                targetIndex,
                $"名前{targetIndex}",
                targetIndex*10m,
                targetIndex*0.1m,
                targetIndex*1000,
                targetIndex-count,
                targetIndex+count};
            worksheet.Cell($"A{targetIndex + 1}").InsertData(new Object[][] { data });
        }
    }

    /// <summary>
    /// Excel出力(単票)
    /// </summary>
    /// <returns>ダウンロード用モデル</returns>
    /// <remarks>Dataにはbyte[]配列を設定</remarks>
    private async Task<DownLoadModel> OutputExcelReport()
    {
        try
        {
            Logger.LogInformation(await GetLogMessage("開始"));

            using (var excelClass = new ExcelClass("assets/excel_temlate/report_sample.xlsx"))
            {
                // sheet取得、値設定
                var worksheet = excelClass.GetWorksheet("Template");
                SetWorksheetReportValues(worksheet, 600);

                //　DownLoadModelを返す
                var prefixExcelFileName = "test_report";
                var dateString = DateTime.UtcNow.ToJstTime().ToString("yyyyMMdd");
                var excelFileName = $"{prefixExcelFileName}_{dateString}.xlsx";
                return CreateExcel(excelFileName, excelClass.GetWorkbook());
            }
        }
        catch (LockRecursionException)
        {
            return new DownLoadModel(string.Empty, null, $"Excel作成中です。{Environment.NewLine}時間をおいて実施してください。");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, await GetLogError(ex));
            return new DownLoadModel(string.Empty, null, "Excel作成に失敗しました。");
        }
        finally
        {
            Logger.LogInformation(await GetLogMessage("終了"));
        }
    }

    /// <summary>
    /// Excelワークシート設定(単票)
    /// </summary>
    /// <param name="worksheet">WorkSheetオブジェクト</param>
    /// <param name="count">データカウント</param>
    private void SetWorksheetReportValues(IXLWorksheet worksheet, int count)
    {
        var workBook = worksheet.Workbook;
        if (workBook is null) return;

        for (var i = 0; i < count; i++)
        {
            var targetIndex = i + 1;

            // テンプレートからシート追加
            var targetSheet = worksheet.CopyTo($"名前{targetIndex}");

            // 名前
            targetSheet.Cell("B2").Value = $"名前{targetIndex}";

            // 住所
            targetSheet.Cell("B3").Value = $"住所県住所町{targetIndex}-123";

            // 備考
            var remark = string.Empty;
            if (i % 2 == 0)
            {
                // 偶数は改行あり
                remark = $"備考あいうえお{Environment.NewLine}かきくけこ{Environment.NewLine}さしすせそ{Environment.NewLine}なにぬねの{Environment.NewLine}";
            }
            else
            {
                // 奇数は改行なし
                remark = $"備考あいうえお";
            }
            remark = remark.Replace(Environment.NewLine, "\n");
            targetSheet.Cell("B4").Value = remark;

            // 備考の状況によって高さを設定
            var rowCount = remark.Count(c => c == '\n');
            var height = (targetSheet.Cell("B4").Style.Font.FontSize + 5) * rowCount;
            if (targetSheet.Row(4).Height < height)
            {
                targetSheet.Row(4).Height = height;
                targetSheet.Cell("B4").Style.Alignment.SetVertical(XLAlignmentVerticalValues.Top);
            }
        }

        // テンプレートシート削除
        worksheet.Delete();
    }
    #endregion

    #region Word出力
    /// <summary>
    /// Word出力
    /// </summary>
    /// <returns>ダウンロード用モデル</returns>
    /// <remarks>Dataにはbyte[]配列を設定</remarks>
    private async Task<DownLoadModel> OutputWord()
    {
        try
        {
            Logger.LogInformation(await GetLogMessage("開始"));

            var temlatePath = "assets/word_template/sample.docx";

            var prefixWordFileName = "test";
            var dateString = DateTime.UtcNow.ToJstTime().ToString("yyyyMMdd");
            var wordFileName = $"{prefixWordFileName}_{dateString}.docx";

            var replaceList = new List<(string targetText, string replacementText)>
            {
                new ("{text1}", "テキスト1"),
                new ("{text2}", "テキスト2"),
                new ("{holidayFrom}", "休暇開始"),
                new ("{holidayTo}", "休暇終了"),
            };

            using (var wordClass = new WordClass())
            {
                return wordClass.ReplaceText(temlatePath, replaceList, wordFileName);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, await GetLogError(ex));
            return new DownLoadModel(string.Empty, null, "Word作成に失敗しました。");
        }
        finally
        {
            Logger.LogInformation(await GetLogMessage("終了"));
        }
    }
    #endregion

    /// <summary>
    /// 初期化処理
    /// </summary>
    protected override void OnInitialized()
    {
        // タイトル設定
        Title = "ホーム";
        StateHasChanged();
    }

    /// <summary>
    /// 初期処理
    /// </summary>
    /// <param name="firstRender">初回表示か否か</param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                Logger.LogInformation(await GetLogMessage("開始"));

                // 未ログインの場合は即時終了
                if (!await LoginCheck())
                {
                    Logger.LogInformation(await GetLogMessage("ログインチェック失敗"));
                    return;
                }

                // ログイン確認完了
                IsBeforeLoginCheck = false;
                StateHasChanged();

                Logger.LogInformation(await GetLogMessage("ログインチェック成功"));

                // 漢字フリガナ変換の初期化
                await InitKanjiToFurigana();

                PageModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Home.razor.js");
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, await GetLogError(ex));
                GotoErrorPage();
            }
            finally
            {
                Logger.LogInformation(await GetLogMessage("終了"));
            }

        }
    }

    /// <summary>
    /// PDFダウンロード
    /// </summary>
    /// <returns>ダウンロード用モデル</returns>
    /// <remarks>Dataにはbyte[]配列を設定</remarks>
    private async Task<DownLoadModel> DownLoadPDF()
    {
        try
        {
            Logger.LogInformation(await GetLogMessage("開始"));

            var pdfDataList = new List<IData>();

            // TODO DBから取得したデータを格納
            pdfDataList.Add(new PdfReport.DataLists.Envelope("123-4567", "123456789012345678", "１２３４５６７８"));
            pdfDataList.Add(new PdfReport.DataLists.Envelope("123-4567", "Ａ県Ｂ市123-4", "サンプル太郎"));


            var pdfMain = new PdfMain(LayoutKinds.Envelope, pdfDataList);

            using (MemoryStream ms = new MemoryStream())
            {
                // PDF作成
                pdfMain.Create(ms);

                //「PDFビューアのファイル保存」時のファイル名指定
                var prefixPdfFileName = "test";
                var dateString = DateTime.UtcNow.ToJstTime().ToString("yyyyMMdd");
                var pdfFileName = $"{prefixPdfFileName}_{dateString}.pdf";

                return new DownLoadModel(pdfFileName, ms.ToArray());
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, await GetLogError(ex));
            return new DownLoadModel(string.Empty, null, "PDF作成に失敗しました。");
        }
        finally
        {
            Logger.LogInformation(await GetLogMessage("終了"));
        }
    }


    /// <summary>
    /// ZIPファイルダウンロード
    /// </summary>
    /// <returns>ダウンロード用モデル</returns>
    /// <remarks>Dataにはbyte[]配列を設定</remarks>
    private async Task<DownLoadModel> DownLoadZip()
    {
        try
        {
            Logger.LogInformation(await GetLogMessage("開始"));

            var pdfDataList = new List<IData>();

            // TODO DBから取得したデータを格納
            pdfDataList.Add(new PdfReport.DataLists.Envelope("123-4567", "123456789012345678", "１２３４５６７８"));
            pdfDataList.Add(new PdfReport.DataLists.Envelope("123-4567", "Ａ県Ｂ市123-4", "サンプル太郎"));

            // ZIPファイル名指定
            var prefixZipFileName = "test";
            var dateString = DateTime.UtcNow.ToJstTime().ToString("yyyyMMdd");
            var zipFileName = $"{prefixZipFileName}_{dateString}.zip";

            // ZIPファイル作成
            return CompressMultiplePDFsIntoZIP(zipFileName, LayoutKinds.Envelope, pdfDataList, 2);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, await GetLogError(ex));
            return new DownLoadModel(string.Empty, null, "PDF作成に失敗しました。");
        }
        finally
        {
            Logger.LogInformation(await GetLogMessage("終了"));
        }
    }

    #region 郵便番号データ検索
    /// <summary>
    /// 郵便番号テキスト用文字列
    /// </summary>
    private string? postCd;

    /// <summary>
    /// 住所漢字テキスト用文字列
    /// </summary>
    private string? addressKanji;

    /// <summary>
    /// 住所カナテキスト用文字列
    /// </summary>
    private string? addressKana;

    /// <summary>
    /// 郵便番号検索
    /// </summary>
    private void SearchPost()
    {
        if (postCd is null) return;

        var result = SearchPostCd(postCd.Replace("-", string.Empty));
        if (string.IsNullOrEmpty(result.PostCd))
        {
            addressKanji = "取得できませんでした";
            addressKana = "取得できませんでした";
        }
        else
        {
            addressKanji = result.Address;
            addressKana = result.AddressKana;
        }
    }

    /// <summary>
    /// 住所漢字から郵便番号
    /// </summary>
    private void SearchAddress()
    {
        if (addressKanji is null) return;

        var result = SearchAddress(addressKanji);
        if (string.IsNullOrEmpty(result.PostCd))
            postCd = "取得できませんでした";
        else
            postCd = $"{result.PostCd.Substring(0, 3)}-{result.PostCd.Substring(3)}";
    }

    /// <summary>
    /// 住所漢字を住所カナに設定
    /// </summary>
    private async Task ConversionConvertKanjiToKana()
    {
        if (addressKanji is null) return;

        var result = await GetAddressKanaAsync(addressKanji);
        if (string.IsNullOrEmpty(result))
            addressKana = "取得できませんでした";
        else
            addressKana = result;
        StateHasChanged();
    }
    #endregion
}