@page "/"
@inherits Base.PageBase
@inject ILogger<Home> Logger

@if (IsBeforeLoginCheck)
{
    // ログイン確認前は表示なし
    return;
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <button class="btn btn-primary" @onclick="ShowAlertTest">アラートメッセージ表示</button>
</div>
<div>
    <button class="btn btn-primary" @onclick="ShowConfirmTest">確認メッセージ表示</button>
</div>

<div class="card" style="margin-top:3rem;width:35rem;">
    <div class="card-body">
        <div class="card-title">漢字→カタカナ変換サンプル</div>

        <div class="row">
            <div class="col">
                <label class="col-md-2" for="kanji">漢字</label>
                <InputText class="col-md-9" id="kanji" @bind-Value="Value" @onblur="@(() => OnBlur("kanji", "furigana"))" />
            </div>
        </div>
        <div class="row">
            <div class="col col-md-2 offset-md-3">
            ↓
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-md-2" for="furigana">カタカナ</label>
                <InputText class="col-md-9" id="furigana" @bind-Value="Katakana" />
                <div class="container" style="margin-top:1rem">
                    <button class="col-3 offset-md-8 btn btn-primary btn-sm" @onclick="ClearKatakana">クリア</button>
                </div>

            </div>
        </div>
    </div>
</div>

@code {
    private string? Katakana;
    private string? Value;

    private async Task OnBlur(string kanjiId, string furiganaId)
    {
        // 漢字フリガナ変換の実施
        await KanjiToFurigana(kanjiId, furiganaId);
    }

    private void ClearKatakana()
    {
        Katakana = string.Empty;
    }

    private async Task ShowAlertTest()
    {
        await ShowAlert("アラートメッセージ");
    }
    private async Task ShowConfirmTest()
    {
        await ShowConfirm("確認メッセージ", ShowConfirmYes);
    }
    private async Task ShowConfirmYes()
    {
        await ShowAlert("「はい」が押されました。");
    }

    /// <summary>
    /// 初期処理
    /// </summary>
    /// <param name="firstRender">初回表示か否か</param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                Logger.LogInformation(await GetLogMessage("開始"));

                // 未ログインの場合は即時終了
                if (!await LoginCheck())
                {
                    Logger.LogInformation(await GetLogMessage("ログインチェック失敗"));
                    return;
                }

                // ログイン確認完了
                IsBeforeLoginCheck = false;
                StateHasChanged();

                Logger.LogInformation(await GetLogMessage("ログインチェック成功"));

                // 漢字フリガナ変換の初期化
                await InitKanjiToFurigana();
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, await GetLogError(ex));
                GotoErrorPage();
            }
            finally
            {
                Logger.LogInformation(await GetLogMessage("終了"));
            }

        }
    }
}