<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${CurrentDir}/log/internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="errorLog" fileName="${CurrentDir}/log/error.log" archiveFileName="${CurrentDir}/log/archives/error-${shortdate}.log" archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="${CurrentDir}/log/nlog.log" archiveFileName="${CurrentDir}/log/archives/nlog-${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}" />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Error" writeTo="errorLog" />

    <!--コンソール出力 -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
    
    <!-- 不要なログは出力しない -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>